html {
  height: 100%;
}
body {
  background: -webkit-radial-gradient(center, #fff, #343434);
  text-align: center;
  user-select: none;
}
header {
  margin: 3px auto;
}
header > p {
  font-size: 12px;
}
.container {
  border-radius: 15px;
  margin: 1.66% 33%;
  overflow: hidden;
}
.square {
  background: #000;
  border: solid 2px #fff;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, .5);
  float: left;
  font-size: 9vw;
  margin: 1.66%;
  perspective: 600px;
  transform-style: preserve-3d;
  padding-bottom: 28.5%;
  position: relative;
  transition: transform 1s ease-in-out;
  width: 28.5%;
}
.square .front,
.square .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.square .front {
  transform: rotateY(0deg);
  position: absolute;
  z-index: 2;
}
.square .back {
	align-items: center;
	color: #fff;
	display: flex;
	justify-content: center;
  transform: rotateY(180deg);
  position: absolute;
}
.flip {
  transform: rotateY(180deg);
}
#X, #O {
  margin: 5px;
}
#reset {
  display: none;
  margin: 15px;
}
/*.screen {
  background-color: rgba(10, 10, 10, 0.6);
  display: block;
  height: 100%;
  width: 100%;
}*/
#choice > div {
  display: block;
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .square {
    padding-bottom: 23%;
    width: 23%;
  }
}